<ion-content
  class="ion-no-padding"
  #scrollArea
  scrollEvents="true"
  [fullscreen]="true"
>
  <app-header></app-header>
  <div
    style="
      height: 1px;
      width: 90%;
      margin: 0 auto;
      opacity: 0.3;
      background-color: rgb(113, 113, 113);
    "
  ></div>
  <app-detail-image [images]="allProperties[0].images"></app-detail-image>
  <app-detail-summary></app-detail-summary>
  <app-room-highlight></app-room-highlight>
  <app-detail-attribute></app-detail-attribute>
  <app-detail-date></app-detail-date>
  <app-detail-review></app-detail-review>
  <app-footer-nav></app-footer-nav>
</ion-content>
