ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 400;
  font-size: clamp(0.7rem, 1.3vw, 0.8rem);
}

.h1-text-2 {
  font-weight: 600;
  font-size: clamp(1rem, 1.1vw, 1.4rem);
  letter-spacing: 0.1px;
}

.dotted {
  background-color: #717171;
  height: 0.2rem;
  width: 0.2rem;
  border-radius: 50%;
}
.highlight {
  padding: 20px 0;
  border: 1px solid #dddddd;
  border-radius: 12px;
  margin: 18px -8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.highlight-rating {
  color: rgb(34, 34, 34);
  font-size: clamp(1.2rem, 1.2vw, 1.3rem);
  line-height: 2rem;
  letter-spacing: normal;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.highlight-guest {
  color: #222222;
  font-weight: 600;
  font-feature-settings: "salt";
  font-size: clamp(0.8rem, 1.2vw, 0.9rem);
  letter-spacing: normal;
  line-break: strict;
  line-height: 1rem;
  text-size-adjust: 100%;
}
.highlight-review-number {
  color: rgb(34, 34, 34);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: normal;
  line-break: strict;
  line-height: 24px;
  text-align: start;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.highlight-review-text {
  color: rgb(34, 34, 34);
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: normal;
  line-break: strict;
  line-height: 24px;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.h2-text-1 {
  font-weight: 600;
  font-size: clamp(1rem, 1.2vw, 1.1rem);
  line-height: 1.25rem;
  color: rgb(34, 34, 34);
}
.text-1 {
  font-weight: 600;
  font-size: clamp(1rem, 1.2vw, 1.1rem);
  line-height: 1.25rem;
  color: rgb(34, 34, 34);
  text-size-adjust: 100%;
}
.text-2 {
  font-weight: 400;
  color: rgb(113, 113, 113);
  font-size: clamp(0.85rem, 1.5vw, 0.9rem);
  line-height: 1.25rem;
}

.text-black-1 {
  font-weight: 400;
  font-size: clamp(1rem, 1.2vw, 1.1rem);
  color: rgb(34, 34, 34);
  line-height: 2rem;
}
.text-with-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
ion-button.more-btn {
  margin: 0;
  --padding-start: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --background: transparent;
  --box-shadow: none;
}
.underlined-span {
  color: rgb(34, 34, 34);
  text-decoration: underline;
}
