<ion-grid [fixed]="true">
  <div
    style="
      width: 100%;
      margin: 0 auto;
      border-top: 1px solid #d4d4d4;
      margin: 1rem 0;
    "
  ></div>
  <div class="review-heading">
    <div class="review-sub-heading">
      <ion-icon name="star-sharp"></ion-icon>
      <h2 style="margin-top: 0; margin-bottom: 0">4.91</h2>
    </div>
    <div class="dot"></div>
    <h2 style="margin-top: 0; margin-bottom: 0">177 reviews</h2>
  </div>
  <ion-row>
    <ion-col size="12"
      ><div class="reviews-container">
        <div class="review">
          <div class="description">
            <span class="text"
              >A unique and interesting experience. We appreciated the cool,
              quiet and relaxing environment. The pool was a great place to
              relax at the hottest part of the day. Loved meeting the dogs.
            </span>
            <div class="btn-container">
              <ion-button class="btn">
                <span>Show more</span>
                <ion-icon name="chevron-forward-sharp"></ion-icon>
              </ion-button>
            </div>
          </div>

          <div class="reviewee">
            <div class="review-image-container">
              <img
                class="i9if2t0 i1mla2as i1cqnm0r dir dir-ltr"
                aria-hidden="true"
                alt="Wendy"
                decoding="async"
                elementtiming="LCP-target"
                src="https://a0.muscache.com/im/pictures/user/ea255e1a-36e9-4c40-aa85-3f2e2c1dc5e5.jpg?im_w=240"
                data-original-uri="https://a0.muscache.com/im/pictures/user/ea255e1a-36e9-4c40-aa85-3f2e2c1dc5e5.jpg?im_w=240"
                style="--dls-liteimage-object-fit: cover"
              />
            </div>
            <div class="info">
              <h3>Wendy</h3>
              <span>August 2023</span>
            </div>
          </div>
        </div>

        <div class="review">
          <div class="description">
            <span class="text"
              >A unique and interesting experience. We appreciated the cool,
              quiet and relaxing environment. The pool was a great place to
              relax at the hottest part of the day. Loved meeting the dogs.
            </span>
            <div class="btn-container">
              <ion-button class="btn">
                <span>Show more</span>
                <ion-icon name="chevron-forward-sharp"></ion-icon>
              </ion-button>
            </div>
          </div>

          <div class="reviewee">
            <div class="review-image-container">
              <img
                class="i9if2t0 i1mla2as i1cqnm0r dir dir-ltr"
                aria-hidden="true"
                alt="Wendy"
                decoding="async"
                elementtiming="LCP-target"
                src="https://a0.muscache.com/im/pictures/user/ea255e1a-36e9-4c40-aa85-3f2e2c1dc5e5.jpg?im_w=240"
                data-original-uri="https://a0.muscache.com/im/pictures/user/ea255e1a-36e9-4c40-aa85-3f2e2c1dc5e5.jpg?im_w=240"
                style="--dls-liteimage-object-fit: cover"
              />
            </div>
            <div class="info">
              <h3>Wendy</h3>
              <span>August 2023</span>
            </div>
          </div>
        </div>

        <div class="review">
          <div class="description">
            <span class="text"
              >A unique and interesting experience. We appreciated the cool,
              quiet and relaxing environment. The pool was a great place to
              relax at the hottest part of the day. Loved meeting the dogs.
            </span>
            <div class="btn-container">
              <ion-button class="btn">
                <span>Show more</span>
                <ion-icon name="chevron-forward-sharp"></ion-icon>
              </ion-button>
            </div>
          </div>

          <div class="reviewee">
            <div class="review-image-container">
              <img
                class="i9if2t0 i1mla2as i1cqnm0r dir dir-ltr"
                aria-hidden="true"
                alt="Wendy"
                decoding="async"
                elementtiming="LCP-target"
                src="https://a0.muscache.com/im/pictures/user/ea255e1a-36e9-4c40-aa85-3f2e2c1dc5e5.jpg?im_w=240"
                data-original-uri="https://a0.muscache.com/im/pictures/user/ea255e1a-36e9-4c40-aa85-3f2e2c1dc5e5.jpg?im_w=240"
                style="--dls-liteimage-object-fit: cover"
              />
            </div>
            <div class="info">
              <h3>Wendy</h3>
              <span>August 2023</span>
            </div>
          </div>
        </div>

        <div class="review">
          <div class="description">
            <span class="text"
              >A unique and interesting experience. We appreciated the cool,
              quiet and relaxing environment. The pool was a great place to
              relax at the hottest part of the day. Loved meeting the dogs.
            </span>
            <div class="btn-container">
              <ion-button class="btn">
                <span>Show more</span>
                <ion-icon name="chevron-forward-sharp"></ion-icon>
              </ion-button>
            </div>
          </div>

          <div class="reviewee">
            <div class="review-image-container">
              <img
                class="i9if2t0 i1mla2as i1cqnm0r dir dir-ltr"
                aria-hidden="true"
                alt="Wendy"
                decoding="async"
                elementtiming="LCP-target"
                src="https://a0.muscache.com/im/pictures/user/ea255e1a-36e9-4c40-aa85-3f2e2c1dc5e5.jpg?im_w=240"
                data-original-uri="https://a0.muscache.com/im/pictures/user/ea255e1a-36e9-4c40-aa85-3f2e2c1dc5e5.jpg?im_w=240"
                style="--dls-liteimage-object-fit: cover"
              />
            </div>
            <div class="info">
              <h3>Wendy</h3>
              <span>August 2023</span>
            </div>
          </div>
        </div>

        <div class="review">
          <div class="description">
            <span class="text"
              >A unique and interesting experience. We appreciated the cool,
              quiet and relaxing environment. The pool was a great place to
              relax at the hottest part of the day. Loved meeting the dogs.
            </span>
            <div class="btn-container">
              <ion-button class="btn">
                <span>Show more</span>
                <ion-icon name="chevron-forward-sharp"></ion-icon>
              </ion-button>
            </div>
          </div>

          <div class="reviewee">
            <div class="review-image-container">
              <img
                class="i9if2t0 i1mla2as i1cqnm0r dir dir-ltr"
                aria-hidden="true"
                alt="Wendy"
                decoding="async"
                elementtiming="LCP-target"
                src="https://a0.muscache.com/im/pictures/user/ea255e1a-36e9-4c40-aa85-3f2e2c1dc5e5.jpg?im_w=240"
                data-original-uri="https://a0.muscache.com/im/pictures/user/ea255e1a-36e9-4c40-aa85-3f2e2c1dc5e5.jpg?im_w=240"
                style="--dls-liteimage-object-fit: cover"
              />
            </div>
            <div class="info">
              <h3>Wendy</h3>
              <span>August 2023</span>
            </div>
          </div>
        </div>
      </div></ion-col
    >
    <ion-col size="12" size-md="auto">
      <ion-button class="reviews-btn">Show all 183 reviews</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
